@import "../../assets/variables";

.pagination {
  display: flex;
  margin: 10px auto 0;
  width: fit-content;
  border-radius: 7px;
  background-color: white;
  box-shadow: 0 0 3px #ccc;

  & > .page,
  & > .step {
    height: 48px;
    width: 48px;
    border: none;
    line-height: 49px;
    font-size: 16px;
    font-family: Roboto Medium, $fonts_default;
    color: #9a9a9a;
    background: transparent;
    transition: 0.1s color ease-in-out;
    cursor: pointer;

    &:disabled:hover {
      cursor: unset;
    }

    &:hover {
      background-color: rgba(0,0,0,0.05);
      transition: 0.1s color ease-in-out;
      color: #1f95cc;
    }
  }

  & > .page {
    &--active {
      color: #1f95cc;
    }
  }

  & > .step {
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child {
      width: 55px;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
    }

    &:last-child {
      width: 55px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    & > svg {
      height: 14px;
      width: 14px;
    }

    &:first-child > svg {
      height: 16px;
      width: 16px;
    }

    &:last-child > svg {
      height: 16px;
      width: 16px;
    }
  }
}

@media screen and (max-width: 485px) {
  .pagination {
    justify-content: center;
    width: 100%;

    & > .page:not(.page--active)  {
      display: none;
    }

    & > .step {
      border-radius: 0!important;
    }
  }
}