@import "src/assets/variables";

.server {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto 20px;
  padding: $page_padding;
  border-radius: $page_border_radius;
  box-shadow: $page_box_shadow;
  background-color: $page_bg_color;

  &__title {
    font-family: Roboto Medium, $fonts_default;
  }

  &__session {
    margin-top: 5px;
    font-family: Roboto Medium, $fonts_default;
  }

  &__online {
    margin-top: 8px;
    font-size: 12px;
  }

  &__cars {
    display: flex;
    flex-wrap: wrap;
    gap: 7px 10px;
    justify-content: center;
    margin-top: 12px;
    padding-bottom: 5px;

    &__car {
      padding: 4px 15px;
      border-radius: 11px;
      font-family: Roboto Medium, $fonts_default;
      font-size: 14px;
      box-shadow: 0 0 1px #bababa;
      background-color: #DF8B8B;
      color: #F8F8F6;
    }
  }

  &__join {
    position: absolute;
    right: 30px;
    padding-top: 6.5px;
    font-family: Roboto Bold, $fonts_default;
    font-size: 14px;
    color: $font_color_link;
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      color: #2adbb5;
    }
  }

  &__dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 27px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: none;
    background: #F0F0F0;
    box-shadow: 0 0 2px black;
    transition: 0.1s ease-in-out;
    cursor: pointer;

    &__arrow {
      position: absolute;
      width: 16px;
      transform: translateY(1.5px);
      transition: 0.2s ease-in-out;
      color: $font_color_dark;

      &.open {
        transform: scaleY(-1);
      }
    }

    &:hover {
      background: #F4F4F4;
      box-shadow: 0 0 3.5px #777;
    }
  }

  &__activity {
    width: fit-content;
    max-height: 0;
    height: max-content;
    overflow-y: hidden;
    transition: max-height 0.2s ease-out, margin-top 0.2s ease-in;

    &.open {
      padding: 2px;
      margin-top: 15px;
      max-height: 400px;
      transition: max-height 0.2s ease-out, margin-top 0s ease;
    }

    &__description {
      margin: 0 0 8px 2px;
    }

    &__online {
      border-radius: 4px;
      box-shadow: 0 0 3px #bababa;
      height: 100%;
      max-height: 295px;
      overflow: auto;
    }

    &__results {
      display: block;
      width: fit-content;
      margin: 20px auto 0;
      font-size: 15px;
      color: #25C2A0;
      text-decoration: underline;
      text-underline-offset: 4px;
      text-decoration-thickness: 2px;

      &:hover {
        color: #2adbb5;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .server {
    &__join {
      display: none;
    }
  }
}