@import "src/assets/variables";

article.driver {
  position: relative;
  max-width: 1200px;
  padding: $page_padding;
  background-color: $page_bg_color;
  border-radius: $page_border_radius;
  box-shadow: $page_box_shadow;
  margin: 0 auto;

  & > .back {
    position: absolute;
    top: -8px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    cursor: pointer;
    border: none;
    background-color: transparent;

    & > svg {
      transform: translate(0.2px, 2.4px);
      height: 30px;
      width: 28px;
    }

    & > svg > path {
      transition: 0.1s fill ease-in-out;
    }

    &:hover > svg > path {
      fill: #1f95cc;
      transition: 0.1s fill ease-in-out;
    }
  }

  & > .heading {
    text-align: center;
    margin-bottom: 25px;

    .heading__driver {
      font-size: 1.4em;
      margin-bottom: 7px;
    }
    .heading__driven {
      font-size: 0.93em;
    }
  }

  & > .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px 50px;

    & .conditions {
      flex-basis: 220px;
      margin: 0;
      padding: 4px 6px;
      border-radius: 3px;
      border: 1px solid #d7d7d7;
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: $page_box_shadow;

      &__row {
        margin-top: 5px;
        padding: 2px 7px;

        &:last-child {
          margin-bottom: 5px;
        }

        &__data {
          float: right;
        }

        & > * {
          display: inline-block;
        }

        &:hover {
          border-radius: 3px;
          background-color: #ececec;
        }
      }
    }
  }
}