@import "src/assets/variables";

.site_header {
  display: flex;
  align-items: center;
  margin-left: 150px;
  padding: 25px 0;
  gap: 25px;

  .logo {
    width: 125px;
  }

  .title {
    margin: 0;
    color: #41423d;
    font-size: 2.1em;
    font-family: Roboto Black, Roboto, Arial, serif;
  }
}

@media screen and (max-width: $responsiveWidth) {
  .site_header {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
  }
}