$responsiveWidth: 500px;

.navbar {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: rgba(245, 245, 245, 0.85);
  box-shadow: 0 0 4px rgba(0,0,0,0.25);
  clip-path: inset(0 -4px -4px -4px);

  .route {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
    color: #8f8f8f;
    clip-path: inset(0 -3px -3px -3px);

    &.active {
      z-index: 5;
      color: #666666;
      background-color: #FAFAFA;
      box-shadow: 0 0 4px #bababa;
      clip-path: inset(0 -4px 0 -4px);
    }

    &:hover {
      color: #666666;
      background-color: #FAFAFA;
      transition: 0.5s background-color ease-in-out;
    }

    &:first-child {
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      border-bottom-right-radius: 3px;
    }

    &:first-child.active,
    &:first-child:not(.active)::before {
      clip-path: inset(0 -4px 0 0);
    }

    &:last-child.active,
    &:last-child:not(.active)::before {
      clip-path: inset(0 0 0 -4px);
    }

    &:not(.active)::before {
      position: absolute;
      z-index: -1;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      transition: transform 250ms ease-in-out;
      transform: scaleY(0);
      transform-origin: bottom;
      box-shadow: 0 0 4px #bababa;
      background-color: #FAFAFA;
      clip-path: inset(0 -4px 0 -4px);
    }

    &:hover::before {
      transform: scaleY(1);
    }

    &__img {
      height: 20px;
      filter: grayscale(1);
    }
  }
}

@media screen and (max-width: $responsiveWidth) {
  .navbar {
    flex-wrap: wrap;
    border-radius: 0;

    .route {
      flex-basis: 100%;
      border-radius: 0;

      &.active {
        border-radius: 0;
        box-shadow: 0 0 3px #bababa;
        clip-path: none!important;
      }

      &:hover {
        transition: 0s background-color ease-in-out;
      }

      &:hover::before {
        transform: scaleY(0);
      }
    }
  }
}