@import "src/assets/variables";

article.lap {
  margin: 0 auto;
  padding: $page_padding;
  max-width: 1200px;
  border-radius: $page_border_radius;
  color: $text-primary;
  box-shadow: $page_box_shadow;
  background-color: $page_bg_color;

  & .heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px 0;
    margin-bottom: 1rem;

    &__combination {
      &__driver {
        color: $text-link-dark;
        font-size: .78em;

        &:hover {
          color: $text-link-hover;
        }
      }

      &__span {
        font-size: 0.75em;
      }
    }

    &__date {
      color: $text-secondary;
    }
  }

  & .session {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px 50px;
    color: $text-secondary;
    margin-bottom: 2rem;

    & .conditions {
      flex-basis: 300px;
      flex-shrink: 1;
      flex-grow: 1;
      margin: 0;
      padding: 4px 6px;
      border-radius: 3px;
      border: 1px solid #d7d7d7;
      background-color: rgba(255, 255, 255, 0.3);
      box-shadow: $page_box_shadow;

      &__row {
        overflow: hidden;
        margin-top: 5px;
        padding: 2px 7px;

        &:last-child {
          margin-bottom: 5px;
        }

        &__header {
          min-width: 140px;
        }

        &__data {
          float: right;
        }

        & > * {
          display: inline-block;
        }

        &:hover {
          border-radius: 3px;
          background-color: #ececec;
        }
      }
    }
  }

  & .lap {
    margin-top: 20px;
  }
}