@import "../../assets/variables";

.Table--online {
  max-width: 650px;
}

.Table {
  table-layout: fixed;
  border: 1px solid #ccc;
  width: 100%;
  margin:0;
  padding:0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;

  .header__row,
  .body__row {
    border: 1px solid #ddd;
    padding: 5px;
  }

  .header__row__title {
    text-transform: capitalize;
    font-family: Roboto Medium $fonts_default;
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  .header__row__title,
  .body__row__item {
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
  }
}

.Table {
  .body__row__item:nth-child(1).name,
  .header__row__title:nth-child(1).name {
    text-align: start;
  }

  .body__row__item.name,
  .header__row__title.name {
    word-break: break-word;
  }

  &--online {
    .body__row__item,
    .header__row__title {
      word-break: break-word;
    }

    .body__row__item.last,
    .header__row__title.last,
    .body__row__item.best,
    .header__row__title.best {
      width: 100px;
    }

    .body__row__item.name,
    .header__row__title.name {
      width: 25%;
    }
  }

  &--drivers {
    .body__row__item.\#,
    .header__row__title.\# {
      width: 70px;
    }

    .header__row__title.infr,
    .body__row__item.infr,
    .header__row__title.wins,
    .body__row__item.wins {
      width: 5%;
    }

    .header__row__title.poles,
    .body__row__item.poles {
      width: 5%;
    }

    .header__row__title.driven,
    .body__row__item.driven,
    .header__row__title.crashes,
    .body__row__item.crashes,
    .header__row__title.infr\/100km,
    .body__row__item.infr\/100km,
    .header__row__title.cr\/100km,
    .body__row__item.cr\/100km {
      width: 10%;
    }
  }
}

@mixin table-responsive($class-name, $max-width) {
  @media screen and (max-width: #{$max-width}) {
    .#{$class-name} {
      border: 0;

      .header {
        display: none;
      }

      .header__row,
      .body__row {
        display: block;
        margin-bottom: 10px;
        border-bottom: 2px solid #ddd;
      }

      .body__row__item {
        display: block;
        width: 100%!important;
        text-align: right!important;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;

        &:last-child {
          border-bottom: 0;
        }

        &:before {
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
          font-family: Roboto Medium, $fonts_default;
        }
      }
    }
  }
}

@include table-responsive('Table--online', 600px);
@include table-responsive('Table--drivers', 1100px);
