$fonts_default: Roboto Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

$font_color_link: #25C2A0;
$font_color_link_dark: #23AD96;
$font_color_dark: #262326;

$page_bg_color: rgba(245, 245, 245, 0.85);
$page_padding: 20px 30px;
$page_border_radius: 3px;
$page_box_shadow: 0 0 3px #CCC;