@import "src/assets/variables";

form.search {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-around;
  gap: 15px 20px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;

  .submit {
    background-color: #EFEFEF;
    border: none;
    box-shadow: 0 0 2px 1px #ccc;
    min-height: 50px;
    width: 150px;
    flex-grow: 1;
    cursor: pointer;
    border-radius: 3px;
    transition-property: background-color, border;
    transition-timing-function: ease-out;
    transition-duration: 0.2s;
    color: $text-primary;

    &:hover {
      background-color: #F8F8F8;
      border: 1px solid #bbb;
      transition-property: background-color, border;
      transition-timing-function: ease-out;
      transition-duration: 0.2s;
    }
  }

  .select-box {
    position: relative;
    flex-grow: 100;
    width: 250px;
    margin: 0 auto;

    font-size: 16px;
    color: $text-secondary;

    &__current {
      position: relative;
      box-shadow: 0 1px 3px 1px #dadada;
      border-radius: 3px;
      cursor: pointer;
      outline: none;

      &:focus {
        & + .select-box__list {
          opacity: 1;
          animation-name: none;

          .select-box__option {
            cursor: pointer;
          }
        }

        .select-box__icon {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      opacity: 0.3;
      transition: 0.2s ease;
    }

    &__value {
      display: flex;
    }

    &__input {
      display: none;

      &:checked + .select-box__input-text {
        height: fit-content;
        display: block;
      }
    }

    &__input-text {
      display: none;
      width: 100%;
      margin: 0;
      padding: 15px 50px 15px 15px;
      border-radius: 3px;
      background-color: #fff;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__list {
      position: absolute;
      width: 100%;
      transform: translateY(-4px);
      padding: 0;
      list-style: none;
      opacity: 0;
      z-index: 10;
      max-height: 50vh;
      overflow-y: auto;
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      clip-path: inset(3px -3px -3px -3px);
      box-shadow: 0 0px 3px 2px rgba(0, 0, 0, 0.1);

      &::-webkit-scrollbar {
        width: 6px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #ccc;
        border-radius: 5px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 2px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background-color: hsl(214, 10%, 34%);
      }
    }

    &__option {
      display: block;
      padding: 15px;
      background-color: #fff;

      &:hover,
      &:focus {
        color: #546c84;
        background-color: #eee;
      }
    }
  }
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}