@font-face {
  font-family: 'Roboto Regular';
  src: url("assets/fonts/Roboto-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url("assets/fonts/Roboto-Medium.ttf") format('truetype');
}

:root {
  font-family: Roboto Regular, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  background-color: #fdfdfd;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 80px, #ebebeb 85px, #ebebeb 87px);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 68%);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 2%, 58%);
}