@import "src/assets/variables";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;

  & > .page {
    flex: 1 0 calc(100% - 80px);
    min-width: 70vw;
    min-height: 800px;
    border-radius: 2px;
    background-color: #F5F5F5;
    box-shadow: 0 0 3px #bababa;
  }
}

@media screen and (max-width: $responsiveWidth) {
  .container {
    padding: 0;

    & > .navbar {
      margin-bottom: 10px;
    }

    & > .page {
      flex-basis: 100%;
    }
  }

}