@import "src/assets/variables";

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 30px 30px;

  .navbar {
    flex: 1 0 120px;
  }

  .page {
    flex: 1 0 calc(100% - 120px);
    min-width: 70vw;
    min-height: 800px;
    border-radius: 2px;
    background-color: #F5F5F5;
    box-shadow: 0 0 3px #bababa;
  }
}

@media screen and (max-width: $responsiveWidth) {
  .container {
    padding: 0;
  }

  .navbar {
    margin-bottom: 10px;
  }

  .page {
    flex-basis: 100%!important;
  }

}